<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--required  script-->
<link href="css/horizon.less" rel="stylesheet/less" type="text/css">
<script language="javascript" src="js/jquery.js"></script>
<script language="javascript" src="js/less.js"></script>
<script language="javascript" src="js/responsiveslides.js"></script>

<!--demo  code example-->
<script language="javascript" src="js/app.js"></script>
<link type="text/css" rel="stylesheet" href="css/demo.css">

<title>App Name</title>
</head>
<body >
<noscript>
	<style>
		.da-thumbs li a div {
			top: 0px;
			left: -100%;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		.da-thumbs li a:hover div{
			left: 0px;
		}
	</style>
</noscript>
	<div class="nav">
		<div class="container">
			<a href="index.html" class="logo">logo</a>
			<div class="nav-inner">
				<ul class="navs">
					<li class="about nav-cell"><a href="#"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">公司简介</a></li>
							<li class="dropdown"><a href="#em">企业文化</a></li>
							<li class="dropdown"><a href="#em">经营理念</a></li>
						</ul>
					</li>
					<li class="brand  nav-cell"><a href="product.html"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">Karges</a></li>
							<li class="dropdown"><a href="#em">Henkel Harris</a></li>
							<li class="dropdown"><a href="#em">Henredon</a></li>
							<li class="dropdown"><a href="#em">Ourhouse</a></li>
							<li class="dropdown"><a href="#em">Maitland Smith</a></li>
							<li class="dropdown"><a href="#em">Jonathan Charles</a></li>
							<li class="dropdown"><a href="#em">East Legnds</a></li>
						</ul>
					</li>
					<li class="product  nav-cell"><a href="products.html"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">客厅</a></li>
							<li class="dropdown"><a href="#em">餐厅</a></li>
							<li class="dropdown"><a href="#em">卧室</a></li>
							<li class="dropdown"><a href="#em">书房</a></li>
							<li class="dropdown"><a href="#em">饰品</a></li>
							<li class="dropdown"><a href="#em">其他</a></li>
						</ul>
					</li>
					<li class="service  nav-cell"><a href="#"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">配送服务</a></li>
							<li class="dropdown"><a href="#em">保养维护</a></li>
							<li class="dropdown"><a href="#em">家居顾问</a></li>
							<li class="dropdown"><a href="#em">留言反馈</a></li>
						</ul>
					</li>
					<li class="activity  nav-cell"><a href="#"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">在线活动</a></li>
							<li class="dropdown"><a href="#em">历史活动</a></li>
							<li class="dropdown"><a href="#em">公司事迹</a></li>
						</ul>
					</li>
					<li class="contact  nav-cell"><a href="#"> </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="page-wrapper">
		<div class="nav-placeholder"></div>
		<div class="container">
			<div class="title"><img src="images/product-title.png" /></div>
			<div class="filter">
				<dl>
					<dt>品牌</dt>
					<dd><a href="#">全部</a></dd>
					<dd><a href="#">Karges</a></dd>
					<dd><a href="#">Henkel Harris</a></dd>
					<dd><a href="#">Henredon</a></dd>
					<dd><a href="#">Ourhouse</a></dd>
					<dd><a href="#">Maitland Smith</a></dd>
					<dd><a href="#">Jonathan Charles</a></dd>
					<dd><a href="#">Eastern Legnds</a></dd>
				</dl>
				<dl>
					<dt>分类</dt>
					<dd><a href="#">全部</a></dd>
					<dd><a href="#">客厅</a></dd>
					<dd><a href="#">餐厅</a></dd>
					<dd><a href="#">卧室</a></dd>
					<dd><a href="#">书房</a></dd>
					<dd><a href="#">饰品</a></dd>
					<dd><a href="#">其他</a></dd>
				</dl>
			</div>
			<div class="lists">
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="product.html">
							<img src="images/product-small-1.png" />
							<div><span>Menu by Simon Jensen</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-2.png" />
							<div><span>TN Aquarium by Charlie Gann</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-3.png" />
							<div><span>Mr. Crabs by John Generalov</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-4.png" />
							<div><span>Gallery of Mo 2.Mo logo by Adam Campion</span></div>
						</a>
					</li>
					<li>	
						<a href="product.html">
							<img src="images/product-small-5.png" />
							<div><span>Ice Cream - nom nom by Eight Hour Day</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-6.png" />
							<div><span>My Muse by Zachary Horst</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-7.png" />
							<div><span>Natalie & Justin Cleaning by Justin Younger</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-8.png" />
							<div><span>App Preview by Ryan Deshler</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-6.png" />
							<div><span>Cornwall Map by Katharina Maria Zimmermann</span></div>
						</a>
					</li>
					<li>
						<a href="product.html">
							<img src="images/product-small-7.png" />
							<div><span>final AD logo by Annette Diana</span></div>
						</a>
					</li>
				</ul>
				<ul class="pagination">
					<li class="prev"><a href="#">上一页</a></li>
					<li ><a href="#" class="active">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li class="next"><a href="#">下一页</a></li>
				</ul>
				
			</div>
		</div>
	</div>
	<div class="footer other">
		<div class="container">
			<ul class="friendlink">
				<li ><a href="#">首页 </a></li>
				<li ><a href="#">国际版 </a></li>
				<li ><a href="#">法律声明 </a></li>
				<li ><a href="#">加入团队 </a></li>
				<li ><a href="#">东方传奇微博 </a></li>
			</ul>
			<div class="search">
				<form>
					<input placeholder="搜索"  />
				</form>
			</div>
			<p class="copyright"><span>北京东方传奇家具有限公司版权所有©2013</span>&nbsp;&nbsp;<span>京ICP备 1111111111号</span></p>
		</div>
	</div>
	<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
	<script type="text/javascript" src="js/slider.js"></script>
	<script type="text/javascript" src="js/hoverdir.js"></script>
	<script type="text/javascript" src="js/app.js"></script>	

</body>
</html>
