<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--required  script-->
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link href="css/horizon.less" rel="stylesheet/less" type="text/css">

<script language="javascript" src="js/jquery.js"></script>
<script language="javascript" src="js/less.js"></script>

<script language="javascript" src="js/responsiveslides.js"></script>


<noscript><link rel="stylesheet" type="text/css" href="css/noscript.css" /></noscript>
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/noscript.css" /><![endif]-->


<title>App Name</title>
</head>
<body >
	
	<div class="nav">
		<div class="container">
			<a href="index.html" class="logo">logo</a>
			<div class="nav-inner">
				<ul class="navs">
					<li class="about nav-cell"><a href="#"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">公司简介</a></li>
							<li class="dropdown"><a href="#em">企业文化</a></li>
							<li class="dropdown"><a href="#em">经营理念</a></li>
						</ul>
					</li>
					<li class="brand  nav-cell"><a href="product.html"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">Karges</a></li>
							<li class="dropdown"><a href="#em">Henkel Harris</a></li>
							<li class="dropdown"><a href="#em">Henredon</a></li>
							<li class="dropdown"><a href="#em">Ourhouse</a></li>
							<li class="dropdown"><a href="#em">Maitland Smith</a></li>
							<li class="dropdown"><a href="#em">Jonathan Charles</a></li>
							<li class="dropdown"><a href="#em">East Legnds</a></li>
						</ul>
					</li>
					<li class="product  nav-cell"><a href="products.html"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">客厅</a></li>
							<li class="dropdown"><a href="#em">餐厅</a></li>
							<li class="dropdown"><a href="#em">卧室</a></li>
							<li class="dropdown"><a href="#em">书房</a></li>
							<li class="dropdown"><a href="#em">饰品</a></li>
							<li class="dropdown"><a href="#em">其他</a></li>
						</ul>
					</li>
					<li class="service  nav-cell"><a href="#"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">配送服务</a></li>
							<li class="dropdown"><a href="#em">保养维护</a></li>
							<li class="dropdown"><a href="#em">家居顾问</a></li>
							<li class="dropdown"><a href="#em">留言反馈</a></li>
						</ul>
					</li>
					<li class="activity  nav-cell"><a href="#"> </a>
						<ul class="dropdowns">
							<li class="dropdown"><a href="#em">在线活动</a></li>
							<li class="dropdown"><a href="#em">历史活动</a></li>
							<li class="dropdown"><a href="#em">公司事迹</a></li>
						</ul>
					</li>
					<li class="contact  nav-cell"><a href="#"> </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="page-wrapper">
		<div class="nav-placeholder"></div>
		<div class="title"><img src="images/product-title.png" /></div>
		<a class="back-to-lists" href="products.html"><<返回列表</a>
		<section id="ps-container" class="ps-container">
			
			<div class="ps-contentwrapper">
			
				<div class="ps-content">
					<h2>201-S-X Chippendale BreakfrontW78 x D16 x H93.75</h2>
					<span class="ps-price">100</span>
					<p>With restful springiness in the seat; prevents static sitting and provides enhanced seating comfort. Padded seat and back for enhanced seating comfort. Soft, hardwearing and easy care leather, which ages gracefully.</p>
					<a href="#">购买</a>
				</div>
				
				<div class="ps-content">
					<h2>201-S-X Chippendale BreakfrontW78 x D16 x H93.75</h2>
					<span class="ps-price">£65</span>
					<p>For increased stability, re-tighten the screws about two weeks after assembly. Seat and back with restful flexibility; prevents a static sitting posture and enhances comfort.</p>
					<a href="#">购买</a>
				</div>
				
				<div class="ps-content">
					<h2>201-S-X Chippendale BreakfrontW78 x D16 x H93.75</h2>
					<span class="ps-price">£140</span>
					<p>Frame made of layer-glued bent birch; a very strong and durable material. High back provides great support for your neck. Sheepskin has natural insulating properties, which make it feel warm and cosy to sit on. Extra cushions are available for variation and renewal.</p>
					<a href="#">购买</a>
				</div>
				
				<div class="ps-content">
					<h2>201-S-X Chippendale BreakfrontW78 x D16 x H93.75</h2>
					<span class="ps-price">£195</span>
					<p>Easy to keep clean; removable, machine washable cover. Seat cushion with a top layer of memory foam; moulds to the precise contours of your body and regains its shape when you get up.</p>
					<a href="#">购买</a>
				</div>
				
				<div class="ps-content">
					<h2>201-S-X Chippendale BreakfrontW78 x D16 x H93.75</h2>
					<span class="ps-price">£30</span>
					<p>Height adjustable for a comfortable sitting posture. The sloping seat gives a comfortable sitting position when leaning forwards.</p>
					<a href="#">购买</a>
				</div>
				
			</div><!-- /ps-contentwrapper -->
			
			<div class="ps-slidewrapper">
			
				<div class="ps-slides">
					<div style="background-image:url(images/large_cube1.jpg);background-size:100% 100%;"></div>
					<div style="background-image:url(images/large_cube2.jpg);background-size:100% 100%;"></div>
					<div style="background-image:url(images/large_cube3.jpg);background-size:100% 100%;"></div>
					<div style="background-image:url(images/large_cube4.jpg);background-size:100% 100%;"></div>
					<div style="background-image:url(images/large_cube5.png);background-size:100% 100%;"></div>
				</div>
				
				<nav>
					<a href="#" class="ps-prev" ></a>
					<a href="#" class="ps-next" ></a>
				</nav>
				
			</div><!-- /ps-slidewrapper -->
			
		</section><!-- /ps-container -->
		
	</div>
	<div class="footer other">
		<div class="container">
			<ul class="friendlink">
				<li ><a href="#">首页 </a></li>
				<li ><a href="#">国际版 </a></li>
				<li ><a href="#">法律声明 </a></li>
				<li ><a href="#">加入团队 </a></li>
				<li ><a href="#">东方传奇微博 </a></li>
			</ul>
			<div class="search">
				<form>
					<input placeholder="搜索"  />
				</form>
			</div>
			<p class="copyright"><span>北京东方传奇家具有限公司版权所有©2013</span>&nbsp;&nbsp;<span>京ICP备 1111111111号</span></p>
		</div>
	</div>
	<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
	<script type="text/javascript" src="js/slider.js"></script>
	<!--demo  code example-->
	<script language="javascript" src="js/app.js"></script>

</body>
</html>
